.card_container {
    display: inline-block;
    width: 350px;
    height: 180px;
    border-radius: 14px;
    border: 1.87px solid #008080;
    background: #ffffff;
}

.card_img {
    position: relative;
    top: -74px;
}

.card_details {
    position: relative;
    text-align: center;
}

.card_title {
    font-family: 'IBM Plex Sans';
    font-size: 28px;
    font-weight: 700;
    line-height: 36.4px;
    color: #008080;
}

.card_description {
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 400;
    line-height: 32.31px;
    color: #333333;
}