@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text_container {
    display: flex;
    align-items: center;
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_container img {
    width: 394px
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 25px;
    border: solid 1px rgba(216, 216, 216, 0.5);
    border-radius: 4px;
    color: #787887;
}


.formContainer .formTitle {
    width: 25%;
    font-family: Heebo;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background: #f5f5f5;
    padding: 10px 20px 10px 20px;
    border-radius: 18.08px;
    margin: 0 0 15px 0;
}

.form {
    margin-bottom: 10px;
}

.form label{
    padding-bottom: 8px;
    font-family: 'Lato';
    color: #787887;
    font-size: 14px;
    line-height: 1.42857143;
}

.form input{
    border-radius: 2px;
    border: solid 1px #cacad3;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-family: inherit;
}

.remember {
    display: flex;
    flex-direction: row-reverse !important;
    flex-wrap: wrap !important;
    text-align: left;
    align-items: center !important;
    gap: 1px;
    justify-content: flex-end;
    /* cursor: pointer; */
}
.forget{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.forget a{
    width: 45%;
    color: #14bef0;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/* .forget a:hover{
    text-decoration: underline;
} */

.remember label {
    padding-top: 3px;
    font-family: Heebo !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 26.56px !important;
    text-align: left !important;
    /* cursor: pointer; */
}

.remember input {
    background: #14bef0;
    font-weight: normal;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: row;
    margin-right: 11px;
}

.pera {
    width: 55%;
    font-family: Heebo;
    font-size: 13px;
    line-height: 20.56px;
    text-align: left;
    margin: 5px 0 10px 0;

}

.pera a {
    text-decoration: none;
    color: #0029FF;
}

#loginbtn {
    border: none;
    background: #13bef0;
    padding: 10px 16px;
    color: #FFF;
    width: 100%;
    height: 45px;
    font-family: 'Lato';
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 3px;
    line-height: 24px;
}

.span a:hover {
    text-decoration: underline;
}

@media (max-width: 1440px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .textContainer p {
        letter-spacing: 0.5px;
        width: 84%;
    }

    .formContainer {
        width: 30%;
        margin: 0;
    }

    .formContainer .formTitle {
        width: 26%;
    }

}

@media (max-width: 1280px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4%;
    }

    .textContainer h1 {
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: 0.5px;
    }

    .textContainer p {
        font-size: 15px;
    }

    .formContainer {
        width: 30%;
    }

    .formContainer .formTitle {
        width: 23%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .textContainer {
        width: 40%;
    }

    .textContainer h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .textContainer p {
        letter-spacing: 0.4px;
        font-size: 14px;
        line-height: 17px;
    }

    .formContainer {
        width: 40%;
    }

    .formContainer .formTitle {
        width: 28%;
        font-size: 16px;
    }

    .remember {
        display: flex !important;
        gap: 4px !important;
    }

    .remember label {
        font-size: 12px !important;
        font-weight: 400 !important;
        line-height: 15.56px !important;
    }

    .remember input {
        width: 18px !important;
        margin-left: 3px;
    }

    .pera {
        font-size: 12px;
        letter-spacing: 0.3px;
    }

    #loginbtn {
        font-size: 17px;
    }

    .span {
        font-size: 13px;
    }

    .span a {
        font-size: 14px;
    }

    .hrcont h3 {
        font-size: 16px;
    }

    .left {
        position: relative;
        right: 110px;
    }

    .right {
        position: relative;
        left: 110px;
    }

    #buttons {
        padding: 0 80px;
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text_container{
        display: none;
    }

    .textContainer {
        width: 83%;
        position: relative;
        top: 80px;
    }

    .textContainer h1 {
        font-size: 35px;
        line-height: 44px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    .textContainer p {
        font-size: 24px;
        line-height: 28px;
        width: 100%;
    }

    .formContainer {
        width: 85%;
        position: relative;
        top: 80px;
        bottom: 20px;
    }

    .formContainer .formTitle {
        width: 30%;
        font-size: 24px;
        margin: 0 0 30px 0;
    }

    .remember label {
        font-size: 18px !important;
        font-weight: 500 !important;
    }

    .remember input {
        width: 22px !important;
        height: 22px;
        margin-left: 3px;
    }

    .pera {
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 21px;
    }

    #loginbtn {
        font-size: 25px;
        margin: 10px 0 20px 0;
    }

    #loginbtn span svg {
        font-size: 22px;
    }

    .span {
        font-size: 18px;
    }

    .span a {
        font-size: 20px;
    }

    .hrcont {
        width: 100%;
        margin: 10px 0 24px 0;
    }

    .hrcont h3 {
        font-size: 20px;
    }

    .left {
        position: relative;
        right: 178px;
    }

    .right {
        position: relative;
        left: 175px;
    }

    #buttons {
        padding: 0 154px;
        font-size: 20px;
    }

    .button {
        font-size: 20px;
    }

    .google img {
        height: 31px;
        width: 31px;
    }
}

@media (max-width: 768px) {
    .textContainer {
        width: 76%;
        position: relative;
        top: 50px;
    }

    .textContainer h1 {
        font-size: 31px;
        line-height: 40px;
    }

    .textContainer p {
        font-size: 19px;
        line-height: 25px;
        width: 100%;
        margin: 0 0 44px 0;
    }

    .formContainer {
        width: 82%;
        position: relative;
        top: 20px;
        bottom: 20px;
    }

    .hrcont {
        width: 100%;
        margin: 10px 0 24px 0;
    }

    .hrcont h3 {
        font-size: 20px;
    }

    .left {
        position: relative;
        right: 154px;
    }

    .right {
        position: relative;
        left: 145px;
    }
}

@media (min-width:320px) and (max-width: 480px) {
    .container {
        width: 100%;
        height: 1080px;
    }

    .textContainer {
        width: 82%;
    }

    .textContainer h1 {
        font-size: 20px;
        line-height: 1.5rem;
    }

    .textContainer p {
        font-size: 15px;
        line-height: 1.2rem;
    }

    .formContainer {
        width: 82%;
    }

    .formContainer .formTitle {
        width: 48%;
        font-size: 18px;
    }

    .remember label {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .remember input {
        width: 19px !important;
    }

    .pera {
        width: 100%;
        font-size: 13px;
    }

    #loginbtn {
        font-size: 19px;
        margin: 0px 0 10px 0;
    }

    #loginbtn span svg {
        font-size: 17px;
    }

    .span {
        font-size: 13px;
    }

    .span a {
        font-size: 14px;
    }

    .divider {
        width: 35%;
    }

    .left {
        position: relative;
        right: 81px;
    }

    .right {
        position: relative;
        left: 80px;
    }

    #buttons {
        padding: 0px 2px;
    }

    .button {
        padding: 14px 14px;
        font-size: 16px;
    }
}