.appointment-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px 20px 90px 20px;
    gap: 20px;
}


@media screen and (max-width:900px) {
    .appointment-container{
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
        align-items: center;
    }
}
