.appointment-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px 20px 90px 20px;
    gap: 20px;
}

.appointment-info {
    width: 40%;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px gray;
}

.appointmentTitle{
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.appointmentTitle h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.appointment-details {
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.appointment-details p {
    font-size: 1rem;
}

.appointment-details a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.8rem;
}

.appointmentDateTime{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.appointmentDateTime p{
    font-size: 0.8rem;
}

.icon {
    margin-right: 5px;
}

.doctor-info {
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
}

.doctor-img {
    /* border-radius: 50%; */
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.doctor-details {
    display: flex;
    /* flex: 1; */
    gap: 20px;
    justify-content: space-evenly;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid #ececec;
    color: #737382;
}

.doctor-details h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.doctor-details p{
    font-size: 0.9rem;
}
.clinic-info {
    /* margin-top: 20px; */
    display: flex;
    gap: 20px;
    padding: 10px;
    color: #737382;
}

.clinic-info p {
    font-size: 0.9rem;
}

.clinic-info a {
    color: #007bff;
    text-decoration: none;
}

.mobile-input-container {
    width: 40%;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 10px;
}

.mobile-input-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 5px;
    /* font-weight: bold; */
}

.form input {
       /* padding: 10px; */
       font-size: 0.9rem;
       border: 1px solid #ccc;
       /* border-radius: 5px; */
       margin-bottom: 10px;
}

.error-input {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.form p {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}


@media screen and (max-width:900px) {
    .appointment-container{
        display: flex;
        flex-direction: column;
        /* margin: 0 auto; */
        align-items: center;
    }

    .appointment-info{
        width: 70%;
    }

    .mobile-input-container{
        width: 70%;
    }
}

@media screen and (max-width:480px) {
    .appointment-info, .mobile-input-container{
        width: 90%;
    }

    .doctor-details, .clinic-info{
        display: flex;
        flex-direction: column;
    }
}