.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}

.inputContainer label {
    font-family: Heebo;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    padding-bottom: 7px;
}

.input {
    border-radius: 13.56px;
    border: 0.9px solid black;
    margin-bottom: 5px;
    padding: 14.47px 21.7px;
}

.input::placeholder{
    letter-spacing: 0.3px;
}

.input:disabled{
    background-color: white;
}

@media (max-width: 1024px) {
    .inputContainer label{
        font-size: 17px;
    }

    .input{
        padding: 14.47px 16.7px;
    }
}

@media screen and (max-width: 900px) {
    .inputContainer {
        display: flex;
        flex-direction: column;
        margin: 0px 0 12px 0;
        gap: 5px;
    }

    .inputContainer label{
        font-size: 20px;
    }

    .input{
        padding: 11.47px 16.7px;
        font-size: 18px;

    }
}

@media (min-width:320px) and (max-width: 480px) {
    .inputContainer{
        display: flex;
        flex-direction: column;
        margin: 0px 0 10px 0;
        gap: 0px;
    }
    .inputContainer label{
        font-size: 18px;
    }

    .input{
        padding: 8px 15px;
        font-size: 15px;
    }
}